<div class="col-sm-12">

<h1>UC San Diego Database Lab</h1>

<p align="justify">

Despite the usefulness and importance of probabilistic graph modeling, learning, and management in real applications, there is a lack of integrated formal methods to extract, learn, manipulate, and analyze large-scale probabilistic graphs in a way that is systematic, inductive, and verifiable. More importantly, there remains a huge gap in mapping such formal methods to efficient design and implementation of data management software that runs in a heterogeneous, distributed computing setting.

<br/><br/>

The objective of DPG-LMS (Distributed Probabilistic Graph Learning and Management Systems) is to develop a full stack solution for scalable probabilistic graph management, including but not limit to probabilistic graph modeling, extraction, indexing, and querying in a heterogeneous, distributed setting. 

</p>
</div>
